body{
	background-repeat: repeat-x;
	background-color:#B0E0E6;
	text-align:center;
	width:900px;
    margin: auto;
}
h1{
	background-color:#6A5ACD;
	font-style:italic;
	font-size:500%;
	text-align:center;
}
h2{
	font-size:300%;
}
h3{
	font-size:250%;
	background-color:#FFFF00;
}
h4{
	font-size:250%;
	background-color:#FFA500;
}
h5{
	font-size:200%;
	text-align:center;
	background-color:#FF6347;
}
h6{
	font-size:200%;
	background-color:#00FFFF;
}
h7{
	font-size:150%;
}
h8{
	background-color:#FFFF00;
	font-style:italic;
	font-size:500%;
	text-align:center;
}
h9{
	font-size:200%;
}
h10{
	font-size:250%;
}